header{
    position:fixed;
    top:0;
    width:100%;
    padding:20px 40px;
    background-color:whitesmoke;
    display:flex;
    align-items: center;
    justify-content:space-between;
    z-index:100;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

div{
    padding-left: 40px;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



nav {
    background-color: black; 
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

nav ul li {
    margin: 0 15px;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.main {
    flex: 1;
    margin-right: 20vw;
    margin-left: 20vw;
    padding: 20px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.box {
    text-align: center;
    padding:20px 40px;
    background-color: gray;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    justify-content:space-evenly;
    z-index:99;
    margin: 10px; 
}

#leftbox {
    background-image: url('../VIEW/images/IMG_1039.JPG');
    float: left;
    width: 100%;
    height: 500px;
}

#rightbox {
    background-image: url('../VIEW/images/IMG_1041 2.JPG');
    float: right;
    width: 100%;
    height: 500px;
  
}
#rightbox a{
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}



.main_content {
    width:100%;
    margin-bottom: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    background-color: whitesmoke;
    position: absolute;
}

p{
    text-align: center;
}

input[type="text"] {
    width: 25vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form_class {
    max-width: 100%;
    background-color: whitesmoke;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: auto; 
    margin-left: auto; 
    width: 80%; 
    margin-top: 40px;
}

.input_box {
    margin-bottom: 10px;
}

button{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

.message{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left:10px;
}

.box a {
    display: block;  
    width: 100%;     
    height: 100%;    
    text-decoration: none; 
}

.box:hover { 
    cursor: pointer;  
    background-color: #f0f0f0; 
} 

.routine-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 90%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin-bottom: 15px;
    flex: 0 0 25%;
}

.routine-title {
    font-size: 18px;
    color: black;
}
.routine-desc {
    font-size: 14px;
    color: black;
}
.routine-steps {
    font-size: 12px;
    color: black;
    padding-bottom: 100px;
}

.routines-container {
    display: flex;
    flex-wrap: wrap; 
    max-height: 500px; 
    overflow-y: auto; 
    gap: 15px; 
    margin: 10px;
}

  