header{
    position:fixed;
    top:0;
    width:100%;
    padding:20px 40px;
    background-color:pink;
    display:flex;
    align-items: center;
    justify-content:space-between;
    z-index:100;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

}

div{
    padding-left: 40px;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



nav {
    background-color: black; 
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

nav ul li {
    margin: 0 15px;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.main {
    flex: 1;
    margin-right: 20vw;
    margin-left: 20vw;
    padding: 20px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.box {
    text-align: center;
    padding:20px 40px;
    background-color: gray;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    justify-content:space-evenly;
    z-index:99;
    margin: 10px; 
}


#leftbox {
    background-size: cover;
    background-image: url('../CSS/images/IMG_1087.jpg');
    float: left;
    width: 100%;
    height: 500px;
}

#rightbox {
    background-size: cover;
    background-image: url('../CSS/images/IMG_1088.jpg');
    float: right;
    width: 100%;
    height: 500px;
  
}
#rightbox a{
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}



.main_content {
    width:100%;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    border-color: #ccc;
    background-color: pink;
    position: absolute;
    z-index: 99;
}

p{
    text-align: center;
}

input[type="text"] {
    width: 25vw;
    padding: 10px;
    border: 1px solid pink;
    border-radius: 3px;
}

.form_class {
    max-width: 100%;
    background-color: pink;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: auto; 
    margin-left: auto; 
    width: 80%; 
    margin-top: 80px;
}

.input_box {
    margin-bottom: 10px;
    width: 80%;
}

button{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form_button{
    width: 80%;
    margin-left: 40px;
    background-color: gray;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left:10px;
}


.box a {
    display: block;  
    width: 100%;     
    height: 100%;    
    text-decoration: none; 
}

.box:hover { 
    cursor: pointer;  
    background-color: pink; 
} 

.routine-box, .derm-box, .brand-box {
    color: black;
    border: 1px solid pink;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 90%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin-bottom: 30px;
    flex: 0 0 100%;
    margin-top: 50px;
}

.routine-title {
    font-size: 18px;
    color: black;
}
.routine-desc {
    font-size: 14px;
    color: black;
}
.routine-steps {
    font-size: 12px;
    color: black;
    padding-bottom: 100px;
    margin-bottom: 50px;
    width: 100%; 
    box-sizing: border-box; 
    overflow: auto; 

}
.makeup-routines{
    display: flex;
    flex-wrap: wrap; 
    max-height: 500px; 
    overflow-y: auto; 
    gap: 15px; 
    margin: 10px;
}

.routines-container{
    display: flex;
    flex-wrap: wrap; 
    max-height: 500px;  
    gap: 15px; 
    margin: 10px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin: 20vw;
}

.dermatologists, .makeup-brands {
    width: 50%;
    padding: 20px;
}

.title{
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
    background-color: pink;
}

.derm-box, .brand-box {
    width: calc(100% - 20px);
    margin-bottom: 50px;
    border: 1px solid pink;
    padding: 10px;
    box-sizing: border-box;
    background-color: bisque;
}

.derm-container, .brand-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    gap: 15px;
    margin: 10px;
    margin-top: 40px;
    color: black;
}

@media (max-width: 768px) {
    .dermatologists, .makeup-brands {
        width: 100%;
    }
    .content-container {
        flex-direction: column;
    }
}


.form_content {
    width:100%;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input[type="text"], input[type="date"], button {
    display: block;
    width: 95%; 
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

button {
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
}

.main_form{
    margin-top: 160px;
    padding: 30px;
    height:100%;
    width: 80%;

}
  
.sidebar {
    width: 40%; 
    background-color: gray;
    padding: 20px;
    height: 100vh; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed; 
    left: 0; 
    top: 0;
}
.side_content {
    width:40%;
    margin-bottom: 500px;
    padding: 20px;
    background-color: whitesmoke;
    position: fixed; 
    left: 0; 
    z-index: 99;
}


input[type="file"] {
    display: block;
    width: 100%;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: beige;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: beige;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 40vw; 
    }

table, th, td {
        border: 1px solid pink;
    }

th, td {
        text-align: left;
        padding: 10px;
    }

th {
    background-color: oldlace;
    }

tr:nth-child(even) {
        background-color: pink;
    }
.achieve-icon{
        content: "f14a"; 
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        padding-right: 8px;
        cursor: pointer;
    }
 

    .main_pictures{
        width:100%;
        padding: 20px 40px;
        background-color: whitesmoke;
        z-index: 99;
        position: relative;

    }
    .upload-container {
        width:100%;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    
    input[type="file"] {
        margin: 10px 0;
    }
    
    button {
        background-color: gray;
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: pink;
    }


    .home{
        width:100%;
        margin-top: 100px;
        flex-wrap: wrap; 
        max-height: 500px; 
        gap: 15px; 
        margin: 10px;
        height:100%
      

    }

.a_button{
    background-color: pink;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 10px;

}

.home_content{
    width:100%;
    margin-bottom: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    border-color: #ccc;
    background-color: pink;
    position: absolute;
    z-index: 99;
    text-align: center;
   

}