header{
    position:fixed;
    top:0;
    width:100%;
    padding:20px 40px;
    background-color:whitesmoke;
    display:flex;
    align-items: center;
    justify-content:space-between;
    z-index:100;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

div{
    padding-left: 40px;
}